.movie-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.movie-card {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.poster-container {
    position: relative;
    width: 200px;
    height: 300px;
}


.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.poster-container:hover .play-overlay {
    opacity: 1;
}

.poster-container:hover .movie-poster {
    filter: brightness(60%);
}