.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
}

.movie-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 5px;
}

.movie-search input {
    width: 250px;
}

.movie-search button {
    width: auto;
}